---
import Layout from '../layouts/default.astro';
import CldImage from '../components/CldImage.astro';
---

<Layout>
	<section class="block hero">
		<!-- info -->
		<div class="cta">
			<h1>All Classics, All Vibes</h1>
			<p class="lede">Revive the Magic, Spin the Classics at AstroRecords!</p>
			<a href="/shop" class="big-link">Shop Albums</a>
		</div>

		<!-- image -->
		<CldImage
			src="astroRecords/record_wv0frc"
			height="200"
			width="200"
			alt="vinyl record"
		/>
	</section>
</Layout>

<style>
	section {
		display: grid;
		gap: 2rem;
	}

	img {
		object-fit: cover;
		height: auto;
	}

	@media (min-width: 600px) {
		section {
			grid-template-columns: 1fr 1fr;
			align-items: center;
		}

		img {
			order: 1;
		}

		.cta {
			order: 2;
		}

		.cta p {
			margin-top: 0.25rem;
			color: var(--color-grey-mid);
		}
	}
</style>
