---
import Layout from '../layouts/default.astro';
import CldImage from '../components/clg-image.astro';
import ShopItems from '../components/shop-items.astro';
---

<Layout>
	<!-- hero -->
	<section class="block hero">
		<!-- info -->
		<div class="cta">
			<h1>All Classics, All Vibes</h1>
			<p class="lede">Revive the Magic, Spin the Classics at AstroRecords!</p>
			<a href="/shop" class="big-link">Shop Albums</a>
		</div>

		<!-- image -->
		<CldImage src="astroRecords/record_lnoicw" alt="vinyl record" />
	</section>

	<!-- products -->
	<section class="block products">
		<ShopItems count={3} addToCart={false} />
		<p class="shop-link"><a href="/shop">Shop all albums &rarr;</a></p>
	</section>
</Layout>

<style>
	.hero {
		display: grid;
		gap: 2rem;
	}

	.cta p {
		margin-top: 0.25rem;
	}

	img {
		object-fit: cover;
		height: auto;
	}

	.shop-link {
		color: var(--color-primary);
		text-align: center;
	}

	.shop-link a {
		color: var(--color-primary);
	}

	@media (min-width: 600px) {
		.hero {
			grid-template-columns: 1fr 1fr;
			align-items: center;
		}

		img {
			order: 1;
		}

		.cta {
			order: 2;
		}

		.cta p {
			color: var(--color-grey-mid);
		}
	}
</style>
